html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
    }
}

body, html {
    height: 100%;
}

body {
    position: relative;
    margin: rem(0px);
    line-height: 1.42;
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $grey;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container{
    width: 95%;
    max-width: $SiteWidth; 
    margin-left: auto;
    margin-right: auto;

    @include tablets {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: rem(0px);
    font-weight: normal;
}

ul {
    padding: rem(0px);
    margin: rem(0px);
    
    li {
        list-style: none;
    }
}

p {
    margin: rem(0px);
    padding: rem(0px);
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}
