.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 15%;
    }

    @include phones {
        padding: 0 5%;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(27px);
    color: $white;

    &:last-child {
        margin-right: rem(0px);
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(36px);

    @include phones {
        margin-bottom: rem(26px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(17px);
    
    &:last-child {
        margin-right: rem(0px);
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(19px) rem(12px);
    border: rem(3px) solid transparent;
    border-radius: rem(4px);

    &--textarea {
        height: rem(152px);
        resize: none;
    }

    &:focus {
        border-color: $yellow;
        outline: none;
    }

    @include phones {
        max-height: rem(82px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(20px);

    &:last-child {
        margin-bottom: rem(0px);
    }

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    margin-top: rem(47px);
    display: flex;
    justify-content: center;

    @include phones {
        margin-top: rem(39px);
    }
}