.headline {
    text-align: center;
    margin-bottom: rem(49px);

    @include phones {
        margin-bottom: rem(53px);
    }
}

.headline__title {
    margin-bottom: rem(17px);

    @include phones {
        margin-bottom: rem(0px);
    }
}

.headline__subtitle {
    padding: 0 26%;
    font-weight: normal;

    @include tablets {
        padding: 0 22%;
    }
    
    @include phones {
        padding: 0 8%;
    }
}