.hero {
    height: 100vh;
    min-height: rem(652px);
    color: $white;
    font-weight: 700;
    background: url(../img/main.jpg) center top no-repeat;
    background-size: cover;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;

    @include tablets {
        height: 80%;
    }
}

.hero__title-section {
    width: 46%;
    margin-top: 25%;

    @include tablets {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 12%;
    }

    @include phones {
        margin-top: 20%;
    }
}

.hero__main-title {
    font-size: rem(48px);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: rem(17px);
    text-transform: uppercase;

    @include tablets {
        margin-top: 35%;
        width: 85%;
    }
}

.hero__title-desc {
    font-size: rem(21px);
    font-weight: normal;
    margin-bottom: rem(39px);
    padding-right: 10%;

    @include tablets {
        padding-right: 0%;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}