$z-fixed-menu: 100;
$z-hamburger: 50;
$SiteWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$white: #fff;
$yellow: #FEDB3F;
$black: #292929;
$grey: #666666;
$darkblue: #3A587E;